doctype html

html.iot(lang="en",ng-app="iot")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title IoT
			
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
		
	body(ng-controller="iot-app")
		.container
			
			.row
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 0}", ng-click="mode = 0") off
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 1}", style="margin-left: 10px;", ng-click="mode = 1") on
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 'R'}", style="margin-left: 10px;", ng-click="mode = 'R'") red
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 'G'}", style="margin-left: 10px;", ng-click="mode = 'G'") green
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 'B'}", style="margin-left: 10px;", ng-click="mode = 'B'") blue
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 'Y'}", style="margin-left: 10px;", ng-click="mode = 'Y'") yellow
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 'I'}", style="margin-left: 10px;", ng-click="mode = 'P'") Pink
				.btn.btn-default.btn-lg(ng-class="{'btn-primary': mode == 'V'}", style="margin-left: 10px;", ng-click="mode = 'C'") Cyan
			

		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js")
		script(src="/socket.io/socket.io.js")

		script(src="scripts/iot.js")